In [1]:
# List 

course=['History','Maths','english','Physics']
course[2:]

['english', 'Physics']

In [2]:
# List operations
course.append('Chemistry')
course

['History', 'Maths', 'english', 'Physics', 'Chemistry']

In [3]:
course.insert(0,'Art')
print(course)

['Art', 'History', 'Maths', 'english', 'Physics', 'Chemistry']

In [4]:
course.extend(['Computer'])
print(course)

['Art', 'History', 'Maths', 'english', 'Physics', 'Chemistry', 'Computer']

In [5]:
course.remove('Art')
print(course)

['History', 'Maths', 'english', 'Physics', 'Chemistry', 'Computer']

In [6]:
course.pop(0)
print(course)

['Maths', 'english', 'Physics', 'Chemistry', 'Computer']

In [7]:
course.reverse()
print(course)

['Computer', 'Chemistry', 'Physics', 'english', 'Maths']

In [8]:
course.sort(reverse=True)
print(course)

['english', 'Physics', 'Maths', 'Computer', 'Chemistry']

In [9]:

sort=sorted(course)
print(sort)

['Chemistry', 'Computer', 'Maths', 'Physics', 'english']

In [10]:
print(course.index('Computer'))
print("english" in course)

3
True

In [11]:
num=[1,2,3,4,5]
print(sum(num))

15

In [12]:
for index, courses in enumerate(course,start=1):
    print(index,courses)

1 english
2 Physics
3 Maths
4 Computer
5 Chemistry

In [13]:
data = '-'.join(course)
print(data)

english-Physics-Maths-Computer-Chemistry

In [14]:
new_list =data.split('-')
print(new_list)

['english', 'Physics', 'Maths', 'Computer', 'Chemistry']

In [15]:
#Tuple 

tuple = ('History','Maths','english','Physics')
# tuple[0]='Art'
tuple

('History', 'Maths', 'english', 'Physics')

In [16]:
#Set 

set1 = {'History','Maths','english','Physics','Maths'}
set1

{'History', 'Maths', 'Physics', 'english'}

In [17]:
set2 = {'History','Malayalam','Physics'}
set2

{'History', 'Malayalam', 'Physics'}

In [18]:
print(set1.intersection(set2))
print(set1.union(set2))

{'History', 'Physics'}
{'english', 'Maths', 'History', 'Malayalam', 'Physics'}